input[type='radio'], input[type='checkbox'] {    
    vertical-align:middle;
    margin: 0 5px 0 0;
}

.v_m {
    vertical-align: middle;
    margin-right: 10px;    
}

a:link, a:visited, a:active {
    text-decoration: none;
}


